<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: html(~{::#content})}">

<body>

<div id="content">

    <section class="hero">

        <div class="hero-content">

            <h1>Hogwarts Library</h1>

            <p>
                Explore um universo mágico de conhecimento,
                livros encantados e aventuras inspiradas no
                mundo bruxo.
            </p>

            <a href="/books" class="magic-btn">
                Explorar Livros
            </a>

           <a href="/wizards/register" class="magic-btn">
            Criar Conta
           </a>

        </div>

    </section>

</div>

</body>
</html>