<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html(~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Home - Hogwarts Library</title>
</head>
<body>
    <div id="content">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Hogwarts Library System</h1>
            <p class="lead">This is a simple application for managing wizards and books.</p>
            <hr class="my-4">
            <p>Use the navigation menu to manage wizards and the library collection.</p>
            <a class="btn btn-primary btn-lg" href="/wizards" role="button">Manage Wizards</a>
            <a class="btn btn-secondary btn-lg" href="/books" role="button">Manage Books</a>
        </div>
    </div>
</body>
</html>